<%
   @title = 'Launch Error'
%>

<h1>Incomplete Identity</h1>
<p>
  Unable to obtain your identity from the learning management system. Please contact the system administrator to check
  the privacy setting for the application.
</p>
