<%
   @title = 'Launch Error'
%>

<h1>Configuration Mismatch</h1>
<p>
  Cannot launch room because it is linked to a different learning management system. Please contact the system
  administrator to check the configuration of the integration and/or the room.
</p>
