<%
   @title = 'Launch Error'
%>

<h1>Unknown LMS</h1>
<p>
  Launched from an unknown learning management system. Please contact the system administrator to check if this
  learning management system has been registered and configured properly.
</p>
