<%
   @title = 'Launch Error'
%>

<h1>Invalid OAuth Request</h1>
<p>
  Unable to validate the request from the learning management system. Please contact the system administrator to
  confirm the application settings.
</p>
